body {
    background-color: #f4cb14;
    color: #010b15;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-right: 20px solid #d48806;
    text-align: center;
}
















header {
    background-color: #deac09;
    padding: 10px 20px ;
    text-align: center;
    border-top: 20px solid #d48806;








}








section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}








img{
    border-radius: 50px;
    border: 3px solid #d46306;
    margin-right: 50px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
    object-fit: cover;
 }








ul li{
    font-weight: bold;
    color: #272523f5;
    font-size: large;
}
























button{
    cursor: pointer;
    width: 20%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #f4a614;
}
















h1,h2{
    color: rgba(177, 25, 25, 0.55);
}








#historia-datos{
    background-color: #d4a406;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}








p{
    font-size: larger;
}








#collage img{
    margin: 0 auto 20px auto;
}








#historia-datos:hover {
    cursor: pointer;
    transform: translateY(-12px);
    box-shadow: 5px 8px 10px;
}


.carrusel{
    display: flex;
    gap: 20px;
    position: relative;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-bottom: 80px;
}


.carrusel img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: cambio 15s infinite;
}


.carrusel img:nth-child(1){
    animation-delay: 0s;
}


.carrusel img:nth-child(2){
    animation-delay: 3s;
}


.carrusel img:nth-child(3){
    animation-delay: 6s;
}


.carrusel img:nth-child(4){
    animation-delay: 9s;
}
.carrusel img:nth-child(5){
    animation-delay: 12s;
}


@keyframes cambio{


    0%{
        opacity: 0;
    }


    10%{
        opacity: 1;
    }


    30%{
        opacity: 0;
    }


    40%{
        opacity: 0;
    }


    100%{
        opacity: 0;
    }
}








@keyframes latir {
    0% {
        transform: scale(1);
    }




    50% {
        transform: scale(1.1);
    }




    100% {
        transform: scale(1);
    }
}




@keyframes agrandar {
    0% {
        transform: scale(1);
    }




    50% {
        transform: scale(1.5);
    }




    100% {
        transform: scale(1);
    }
}




button:hover {
    animation: latir 1s infinite;
}




img:hover {
    animation: agrandar 10s infinite;
}




@keyframes entrar-derecha {
    from {
        transform: translateX(80px);
        opacity: 0;
    }




    to {
        transform: translateX(0);
        opacity: 1;
    }
}




section {
    animation: entrar-derecha 1s ease-in-out;
}




@keyframes deslizar-arriba {
    from {
        transform: translateY(50px);
        opacity: 0;
    }




    to {
        transform: translateY(0);
        opacity: 1;
    }
}




h1,
h2 {
    animation: deslizar-arriba 1s ease-in-out;
}




@keyframes aparecer-suave {
    from {
        opacity: 0;
    }




    to {
        opacity: 1;
    }




}




p {
    animation: aparecer-suave 2s ease-in-out;
}












/* Para tablets */
@media screen and (max-width: 780px){
    #collage img{
        width: 80%;
        height: auto;
    }
}




/* Para teléfonos */
@media screen and (max-width: 480px){
    #collage img{
        width: 60%;
        height: auto;
    }
}
