body {
    background-color: #f4cb14; 
    color: #010b15; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-right: 20px solid #d48806; 
}


header {
    background-color: #deac09; 
    padding: 20px;
    text-align: left;
    border-top: 20px solid #d48806; 
}