body {
    background-color: #f4cb14; 
    color: #010b15; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-right: 20px solid #d48806; 
}


header {
    background-color: #deac09; 
    padding: 10px 20px;
    text-align: left;
    border-top: 20px solid #d48806; 
}


section {
    padding: 40px;
    max-width: 900px;
    margin: auto; 
    border-bottom: 1px solid #1e293b;
}

#titulo img{
    margin-left: -700px;
    position: relative;
    top: -100px;
}

#titulo button{
    position: relative;
    top: -150px;
    left: 250px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}