body {
    background-color: #f4cb14; 
    color: #010b15; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-right: 20px solid #d48806; 
}


header {
    background-color: #deac09; 
    padding: 10px 20px ;
    text-align: center;
    border-top: 20px solid #d48806; 

}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto; 
    border-bottom: 1px solid #1e293b;
}

#titulo img{
    margin-left: -700px;
    position: relative;
    top: -100px;
    border-radius: 100px
}

#titulo button{
    position: relative;
    top: -150px;
    left: 250px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(8, 167, 167);
}
 #inicio h2, #inicio img{
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 300px;
    height: auto;
 }

 img{
    border-radius: 50px;
    border: 3px solid #d46306
 }
article {
    background-color: #deac09;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(225, 8, 8, 0.922);
}

ul li{
    font-weight: bold;
    color: #272523f5;
    font-size: large;
}

#inicio li{
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
}

#mision-vision{
    text-align: center;
    img{
        margin: 20px;
    }
    p{
        font-weight: bolder;
    }
}

#mision-vision article img{
    width: 50%; 
    max-width: 600px;
    height: 300px;
    display: block;
    margin: 0 auto 20px auto; 
    border-radius: 8px;
}

#mision-vision article{
    margin-bottom: 100px;
}

#adopciones img{
    margin-left: 20px;
    width: 30%;
}

#adopciones button{
    width: 20%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #f4cb14;
}

button{
    cursor: pointer;
}